body{
	background-color: blue;
}

#sandbox{
	font-family: goudy-bookletter-1911-1,  goudy-bookletter-1911-2, Bas-kerville, Georgia, serif;
	font-size: 16px;
	padding: 20px;
	width: 440px;
	margin: 40px 0 0 30px;
	z-index: 2;
	color: black;
	overflow: hidden;
	border: solid 4px rgb(21,11,11);	
	-moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        border-radius: 15px;
        box-shadow: 0px 0px 20px #999;
        text-shadow: 20px 20px 20px #999;
        background-color: rgb(180, 180, 144);
}

#sandbox h1{
	margin: 0 0 20px 0;
	font-size: 56px;
	word-spacing: 2px;
}

#sandbox h1 abbr{
	cursor: help;
	font-size: 130%;
	color: #ff2166;
	border-bottom:1px dashed #888;
}

#sandbox p{
	font-size: 30px;
	margin : 0;
	line-height: 50px;

}
