#calculadora{
        background-color: red;
        text-align: center;
        width: 200px; 
        height: 200px;
        margin: 0 auto;
        border-radius: 25px;
}

#restar{}

#calculadora #display{
	margin-top: 10px;
	padding: 5px;
	background-color: white;
	border: solid 3px rgba(21,11,11, 0.2);
	border-radius: 15px;
}

#uno, #dos, #tres, #cuatro, #cinco, #seis, #siete, #ocho, #nueve, #cero{
	margin: 4px;
}
